/*BOTONES*/

.button_act_bg {
  display: inline-block;
	padding: 24px;
	margin: 6px;
	border-radius:5px;
	background-color: #ed497e;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:24px;
	letter-spacing: 0px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	margin-bottom: 12px;
}
.button_act_bg_kd {
  display: inline-block;
	padding: 48px;
	margin: 6px;
	border-radius:50px;
	background-color: #ed497e;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:20px;
	letter-spacing: 0px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	cursor: pointer;
	margin-bottom: 12px;
}
.button_inact_bg_kd {
  display: inline-block;
	padding: 36px;
	margin: 6px;
	border-radius:50px;
	background-color: #f2f2f2;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:24px;
	letter-spacing: 0px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	cursor: pointer;
	margin-bottom: 12px;
}
.button_err_bg_kd {
  display: inline-block;
	padding: 36px;
	margin: 6px;
	border-radius:50px;
	background-color: #ff0000;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size:24px;
	letter-spacing: 1px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	margin-bottom: 12px;
}
.button_go_bg_kd {
  display: inline-block;
	padding: 36px;
	margin: 6px;
	border-radius:100px;
	background-color: #1b6425;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size:24px;
	letter-spacing: 1px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	margin-bottom: 12px;
}
.button_act_sm {
  display: inline-block;
	padding: 16px;
	margin: 6px;
	border-radius:5px;
	background-color: #ed497e;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size:16px;
	letter-spacing: 1px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	margin-bottom: 12px;
}
.button_act_bg:hover{
	background-color: #0097e8;
	color: #ffffff;
	cursor:pointer;
	box-shadow:#B9B7B7 0px 1px 1px;
}
.button_act_sm:hover{
	background-color: #0097e8;
	color: #ffffff;
	cursor:pointer;
	box-shadow:#B9B7B7 0px 1px 1px;
	margin-bottom: 12px;
}
.button_can_sm {
  display: inline-block;
	padding: 10px 24px;
	margin: 6px;
	border-radius:50px;
	background-color: #ff0000;
	color:#ffffff;
    border: 5px solid #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size:16px;
	letter-spacing: 1px;
    text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
	margin-bottom: 12px;
}
.button_can_sm:hover {
	color:#ff0000;
	border:5px solid #ff0000;
	background-color: #ffffff;
}
.button_ace_sm {
  display: inline-block;
	padding: 10px 24px;
	margin: 6px;
	border-radius:50px;
	background-color: #ffffff;
	color:#1b6425;
  border: 5px solid #1b6425;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size:16px;
	letter-spacing: 1px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 3px 3px;
}
.button_ace_sm:hover{
	background-color: #1b6425;
	border: 5px solid #ffffff;
	color:#ffffff;
	box-shadow:#B9B7B7 0px 1px 1px;
}

.button_inact{
  display: inline-block;
	padding: 16px;
	margin: 6px;
	border-radius:5px;
	background-color: #d6d6d6;
	color:#ffffff;
  border: 5px solid #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size:16px;
	letter-spacing: 1px;
  text-decoration: none;
	box-shadow:#B9B7B7 0px 1px 1px;
}
.button_dwnld{
	display: inline-block;
    width:auto;
	padding: 10px 24px 10px 19px;
	margin: 6px;
	background-color:#f83b3f;
	border-radius:4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:16px;
	color:#ffffff;
	vertical-align:center;
	align-self:center;
}
.button_dwnld:hover{
	background-color: #000000;
	color:#ffffff;
    cursor:pointer;
	/* Cómo cambiar el color del svg */
}
.button_lnk{
	display: inline-block;
    width:auto;
	height: 24px;
	padding: 10px 24px;
	margin: 6px;
	background-color:#aadef5;
	border-radius:4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:16px;
	color:#404040;
	vertical-align:center;
	align-self:center;
}
.button_lnk:hover{
	background-color:#ff9900;
	cursor:pointer
}
.button_social{
    display: inline-block;
	margin:6px 12px 0 0;
	cursor:pointer;
}
.botones{
    text-decoration:none;
	text-align:left;
	letter-spacing: 1px;
	cursor:pointer;
	margin: 2px 3px 3px 3px;
	padding:10px 10px 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size:15px;
}
.botones:hover{
	
	padding:5px 10px 5px 10px;					    
    border-radius:3px;
}