/*COLOR*/

.p-lgt{
	color:#f2f2f2;
}
.p_drk{
	color: #404040;
}
.bg_orange{
	background-color: #FF6633;
}
.bg_drk_orange{
	background-color: #e63900;
}
.bg_lgt_orange{
	background-color: #FF9f80;
}
.bg_green{
	background-color: #33BB44;
}
.bg_drk_green{
	background-color: #1b6425;
}
.bg_lgt_green{
	background-color: #73d980;
}	
.bg_blue{
	background-color: #11BBCC;
}
.bg_drk_blue{
	background-color: #0a6d76;
}
.bg_lgt_blue{
	background-color: #89ecf5;
}
.bg_magenta{
	background-color:#ed497e;
}
.bg_drk_magenta{
	background-color: #d93560;
}
.bg_lgt_magenta{
	background-color: #ff67a7;
}
.bg_yellow{
	background-color: #ffcc00;
}
.bg_lgt_yellow{
	background-color: #ffdb4d;
}
.bg_drk_yellow{
	background-color: #806600;
}
.bg_black{
	background-color: #404040;
}
.bg_lgt_black{
	background-color: #999999;
}
.bg_drk_black{
	background-color: #222222;
}
