/*CONTENEDORES*/ 
.container{
    margin: auto;
    padding: 24px;
    width:80%;
    background-color: #ffffff;
		
}
.container_txt{
	
	padding: 10px;
	
}
.container_txt2{
	padding-left: 18px;
	
}
.container_txt_img{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
    padding:14px

	
	
	
}
.seccion{
	margin-top: 80px;
}
.container_100{
	display: flex;
  margin: auto;
  width:100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contain_block{
    display: inline-block;
    width:136px;
    margin-bottom: 10px;
		
}
.contain_color{
  display:inline-block;
  width:120px;
	height:108px;
	background-color: #00CAFF;
	font-weight:300;
	font-size:14px;
	letter-spacing:2px;
	padding:15px 0px 0px 10px;
	color:#FFFFFF;
	letter-spacing:1px;
	box-shadow:#B9B7B7 0px 3px 2px;
	border-radius: 10px 10px 0px 0px;
  
}
.contain_color_sm{
    display:inline-block;
	width:120px;
	height:48px;
    background-color: #00CAFF;
	font-weight:300;
	font-size:14px;
	letter-spacing:2px;
	padding:15px 0px 1px 10px;
	color:#FFFFFF;
	letter-spacing:1px;
}

.container_flex{
   display: flex;
    margin: auto;
    width:100%;
		align-items: center;
    justify-content: center;
		flex-wrap: wrap;
}
.container_sect{
    margin: auto;
		
}

.content_flex{
	flex:1;
	flex-basis: 192px;
	flex-wrap: wrap;
	align-items: center;
  justify-content: center;
	height:160px;
	background-color: #FFFFFF;
	margin:20px 22px 5px 5px;
	font-weight:400;
	padding:5px 5px 0px 5px;
	color:#4C4F4F;
	letter-spacing:1px;
	box-shadow:#B9B7B7 0px 3px 2px;
	border-radius: 5px 5px 0px 0px;
	border-bottom:10px solid #ffffff;
  border:1px dotted black;
	
}

.content_flex_col{
	flex: 1;
	background-color: #FFFFFF;
	margin:0px 0px 5px 5px;
	/*padding: 10px;*/
	font-weight:400;
	padding:5px 5px 5px 0px;
	color:#4C4F4F;
	letter-spacing:1px;
	box-shadow:#B9B7B7 0px 3px 2px;
	border-radius: 5px 5px 0px 0px;
	border-bottom:10px solid #ffffff;
  border:1px dotted black;
	flex-direction: column;
}

.container_headng{
	background-color: #ffffff;
  align-items:center;
	justify-content:flex-end;
	width:85%;
  height: 192px;
	margin:auto;
	margin:24px 0 24px 0;
	border: 1px solid silver;
	border-radius:8px;
	padding:24px;
}

.container_headng_sm{
	display:flex;
	align-items:center;
	justify-content:flex-end;
	align-content:center;
	width:100%;
	margin:auto;
	border-bottom:1px dotted #42B2D0;
	/*padding: 18px 0px 18px 0px;*/
	
}
.container_round{
	display: inline;
	float: left;
	margin: 20px 24px 12px 0;
	width: 270px;
	height: 270px;
	background-color: aquamarine;
	border: 3px solid red;
	border-radius: 100%;
}
.content_headng_head{
	flex:1;
	justify-content:center;
	align-content:center;
	text-align: left;
	padding-left:1rem;
}

.content_headng_weig{
	flex:.5;
    text-align: center;
}
.content_headng_size{
	flex:.5;
     text-align: center;
}
.min_hgt{
	min-height: 294px;
}