/*FORMULARIOS*/
label{
    font-size:14px;
    color: grey;
}
input, textarea, search:focus{
    background-color: beige;
}
input, textarea{
    font-size:14px;
    padding: 6px 6px 6px 6px;
    margin: 6px 0px 6px 0px;
    border:1px solid silver;
    border-radius: 4px;
}