/*ESTILOS TEXTO*/
p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

}
h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1.36rem;
    margin-bottom: 1.36rem;

}
h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height:1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

}
h3{
    font-size: 1.56rem;
    font-weight: 400;
    line-height: 0.96rem;
    margin-top: 0.96rem;
    margin-bottom: 0.96rem;

}
h4{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
h5{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2.1rem;

}
h6{
    font-size: 0.625rem;
    line-height: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;

}
.nota{
    border-top: 1px dotted black;
    padding:0.667;
}
.h1_adult{
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
	  font-family: 'Montserrat Alternates', sans-serif;
	  font-weight: 700;
		color:#33bb44;

}
.h2_adult{
    font-size: 1.75rem;
    line-height:2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		color:#0a6d76;
	
}
.h3_adult{
    font-size: 1.35rem;
    line-height:2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color:#404040;
	
}
.p_adult{
    font-size: 1rem;
    line-height:1.45rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color:#0a6d76;
	}
.h1_kid{
    font-size: 2.18rem;
    line-height: 2.5srem;
    margin-top: 1.36rem;
    margin-bottom: 1.36rem;
	  font-family: 'Montserrat Alternates', sans-serif;
	  font-weight: 700;
		color:#11bbcc;

}
.h2_kid{
    font-size: 1.75rem;
    line-height:2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 400;
		color:#0a6d76;
	
}
.h3_kid{
    font-size: 1.35rem;
    line-height:2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 400;
		color:#404040;
	
}
.p_kid{
    font-size: 1rem;
    line-height:1.45rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 400;
		color:#0a6d76;
	}
	.txt_algn{
		text-align: center;
}
.secc{
    font-size: 1.5rem;
    font-weight: 700;
    line-height:1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

}
.img_mgn{
	margin-top: -5px;
}
.label_ttl{
	padding: 24px;
}
.label{
	font-size:1.25em;
	font-weight: 300;
	color: #404040;
	padding: 24px 0 12px 12px;
}
.s_label{
	font-size:1em;
	font-weight: 300;
	color: #404040;
	padding: 0 0 0 12px;
	color: grey;
	text-align: center;
}
/*Tipografia GE*/

.tipo_GE_1{
    font-size:4.5rem; 
    text-align:center; 
		font-weight: 400;
}
.tipo_GE_B{
    font-size:1rem;
		font-weight: 400;
		font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
}
.tipo_GE_2{
    font-size:4.5rem; 
    text-align:center; 
		font-weight: 400;
}
.tipo_GE_3{
    font-size:4.5rem; 
    text-align:center; 
		font-weight: 400;
	font-family: 'Montserrat Alternates', sans-serif;
}
.tipo_GE_1A{
    font-size:4.5rem; 
    text-align:center; 
		font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
}
.tipo_GE_2A{
    font-size:4.5rem; 
    text-align:center; 
		font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
}
.tipo_GE_3A{
    margin-top: 2;
		font-size:4.5rem; 
    text-align:center; 
		font-weight: 700;
		font-family: 'Montserrat Alternates', sans-serif;
}
