body{
    font-family: 'Montserrat Alternates', sans-serif;
	  font-weight: 400;
    /*background:url("ritmo.gif");*/
    text-rendering: optimizeLegibility;
  width:100%;  
	min-width: 320px;
		color: #404040;

}
/*Media Query*/
@media only screen and (min-width: 320px) {
    body {
        background-color: lightblue;
    }
    .columns{-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding: 0 20px 0 20px;
    }
	.titulo{
    font-size: 1.65rem;
}

}
@media only screen and (min-width: 768px){
    body {
        background-color: orange;
    }
    .columns{-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0 20px 0 20px;
    }
	.titulo{
    font-size: 2rem;
}

    
}
    
@media only screen and (min-width: 1280px){
    body {
        background-color: orange;
    }
    .columns{-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding: 0 20px 0 20px;
    }
	.titulo{
    font-size: 2rem;
}

}


hr{
    border: 1px dotted black;
}
a{text-decoration: none;
color:black;}
#cabecera{
	width:100%;
	height:85px;
	background-color:rgba(17,187,204,0.9);
	position:fixed; /*!*/
	display:flex;
	justify-content:center;
	align-items: center;
	z-index:5; /*!*/
	margin-left:-20px;
	padding-bottom: 10px;
	border:1px dotted silver;
	box-shadow:#B9B7B7 0px 5px 10px;
  margin:0px;
	
}
/*CONTENEDORES*/ 
.container{
    margin: auto;
    padding: 24px;
    width:80%;
    background-color: #ffffff;
		border: 1px solid green;
}
.container_100{
	display: flex;
    margin: auto;
    width:100%;
		border: 1px solid orange;
		align-items: center;
    justify-content: center;
		flex-wrap: wrap;
}
.contain_block{
    display: inline-block;
    width:136px;
    margin-bottom: 10px;
		border: 1px solid red;
}
.contain_color{
  display:inline-block;
   width:120px;
	height:120px;
	background-color: #00CAFF;
	font-weight:300;
	font-size:14px;
	letter-spacing:2px;
	padding:15px 0px 0px 10px;
	color:#FFFFFF;
	letter-spacing:1px;
	box-shadow:#B9B7B7 0px 3px 2px;
	border-radius: 5px 5px 0px 0px;
  
}
.contain_color_sm{
    display:inline-block;
	width:120px;
	height:48px;
    background-color: #00CAFF;
	font-weight:300;
	font-size:14px;
	letter-spacing:2px;
	padding:15px 0px 1px 10px;
	color:#FFFFFF;
	letter-spacing:1px;
}

.container_flex{
   display: flex;
    margin: auto;
    width:100%;
		border: 1px solid orange;
		align-items: center;
    justify-content: center;
		flex-wrap: wrap;
}

.content_flex{
	flex:1;
	flex-basis: 320px;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
	height:160px;
	background-color: #FFFFFF;
	margin:20px 22px 5px 5px;
	font-weight:400;
	padding:5px 5px 0px 5px;
	color:#4C4F4F;
	letter-spacing:1px;
	box-shadow:#B9B7B7 0px 3px 2px;
	border-radius: 5px 5px 0px 0px;
	border-bottom:10px solid #ffffff;
  border:1px dotted black;
	
}

.content_flex_col{
	flex: 1;
	background-color: #FFFFFF;
	margin:20px 22px 5px 5px;
	padding: 10px;
	font-weight:400;
	padding:5px 5px 0px 5px;
	color:#4C4F4F;
	letter-spacing:1px;
	box-shadow:#B9B7B7 0px 3px 2px;
	border-radius: 5px 5px 0px 0px;
	border-bottom:10px solid #ffffff;
  border:1px dotted black;
	flex-direction: column;
}

.container_headng{
	background-color: #ffffff;
    align-items:center;
	justify-content:flex-end;
	width:85%;
    height: 192px;
	margin:auto;
	margin:24px 0 24px 0;
	border: 1px solid silver;
	border-radius:8px;
	padding:24px;
}
.container_headng_sm{
	display:flex;
	align-items:center;
	justify-content:flex-end;
	align-content:center;
	width:100%;
	margin:auto;
	border-bottom:1px dotted #42B2D0;
	/*padding: 18px 0px 18px 0px;*/
	
}
.content_headng_head{
	flex:3;
}

.content_headng_weig{
	flex:.5;
    text-align: center;
}
.content_headng_size{
	flex:.5;
     text-align: center;
}
/*ESTILOS TEXTO*/
p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

}
h1{
    font-size: 2.18rem;
    line-height: 0.68rem;
    margin-top: 0.68rem;
    margin-bottom: 0.68rem;

}
h2{
    font-size: 1.5rem;
    font-weight: 400;
    line-height:0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

}
h3{
    font-size: 1.56rem;
    font-weight: 400;
    line-height: 0.96rem;
    margin-top: 0.96rem;
    margin-bottom: 0.96rem;

}
h4{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
h5{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2.1rem;

}
h6{
    font-size: 0.625rem;
    line-height: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;

}
.nota{
    border-top: 1px dotted black;
    padding:0.667;
}
.one_columns{
	padding:0 20px 0 20px;
}
.two_columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0 20px 0 20px;
}
.three_columns{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding: 0 20px 0 20px;
}
/*Tipografia GE*/
.tipo_GE_1{
    font-size:4.5em; 
    text-align:center; 
		font-weight: 400;
}
.tipo_GE_B{
    font-size:12px; 
    text-align:center;
}
.tipo_GE_2{
    font-size:4.5em; 
    text-align:center; 
		font-weight: 400;
}
.tipo_GE_3{
    font-size:4.5em; 
    text-align:center; 
		font-weight: 700;
	font-family: 'Montserrat Alternates', sans-serif;
}
.tipo_GE_1A{
    font-size:4.5em; 
    text-align:center; 
		font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
}
.tipo_GE_2A{
    font-size:4.5em; 
    text-align:center; 
		font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
}
.tipo_GE_3A{
    font-size:4.5em; 
    text-align:center; 
		font-weight: 700;
		font-family: 'Montserrat Alternates', sans-serif;
}
/*COLOR*/
.p-lgt{
	color:#f2f2f2;
}
.p_drk{
	color: #404040;
}
.bg_orange{
	background-color: #FF6633;
}
.bg_drk_orange{
	background-color: #e63900;
}
.bg_lgt_orange{
	background-color: #FF9f80;
}
.bg_green{
	background-color: #33BB44;
}
.bg_drk_green{
	background-color: #1b6425;
}
.bg_lgt_green{
	background-color: #73d980;
}	
.bg_blue{
	background-color: #11BBCC;
}
.bg_drk_blue{
	background-color: #0a6d76;
}
.bg_lgt_blue{
	background-color: #89ecf5;
}
.bg_marine{
	background-color: #5577BB;
}
.bg_drk_marine{
	background-color: #1d2c49;
}
.bg_lgt_marine{
	background-color: #a4b6db;
}
.bg_yellow{
	background-color: #ffcc00;
}
.bg_lgt_yellow{
	background-color: #ffdb4d;
}
.bg_drk_yellow{
	background-color: #806600;
}
.bg_black{
	background-color: #404040;
}
.bg_lgt_black{
	background-color: #f2f2f2;
}
.bg_drk_black{
	background-color: #222222;
}
/*TIPOGRAFÍA*/
/*BOTONES*/
.button_act {
    display: inline-block;
	height: 24px;
	padding: 10px 24px 10px 14px;
	margin: 6px;
	border-radius:4px;
    border: 1px solid #404040;
	font-weight: 300;
	font-size:16px;
	color:#404040;
    text-decoration: none;
}
.button_act:hover{
	background-color: orange;
	color: #ffffff;
	cursor:pointer;
}
.button_act_ico{
  display: inline-block;
	padding: 10px;
	margin: 6px;
	border-radius:4px;
}
.button_act_ico:hover{
   background-color:#ffffff;
}
.button_inact{
	display: inline-block;
	height: 24px;
	padding: 10px 24px;
	margin: 6px;
	border: 1px solid #aaaaaa;
	border-radius:4px;
	font-weight: 300;
	font-size:16px;
    color:#9b9c9e;
}
.button_dwnld{
	display: inline-block;
    width:auto;
	padding: 10px 24px 10px 19px;
	margin: 6px;
	background-color:#f83b3f;
	border-radius:4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:16px;
	color:#ffffff;
	vertical-align:center;
	align-self:center;
}
.button_dwnld:hover{
	background-color: #000000;
	color:#ffffff;
    cursor:pointer;
	/* Cómo cambiar el color del svg */
}
.button_lnk{
	display: inline-block;
    width:auto;
	height: 24px;
	padding: 10px 24px;
	margin: 6px;
	background-color:#aadef5;
	border-radius:4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:16px;
	color:#404040;
	vertical-align:center;
	align-self:center;
}
.button_lnk:hover{
	background-color:#ff9900;
	cursor:pointer
}
.button_social{
    display: inline-block;
	margin:6px 12px 0 0;
	cursor:pointer;

}
/*FORMULARIOS*/
label{
    font-size:14px;
    color: grey;
}
input, textarea, search:focus{
    background-color: beige;
}
input, textarea{
    font-size:14px;
    padding: 6px 6px 6px 6px;
    margin: 6px 0px 6px 0px;
    border:1px solid silver;
    border-radius: 4px;
}