/*COLORES BACKGROUND*/
.color-bg-orange{
  background-color: $primaryColorBgOrange;
}

.color-bg-orange-drk{
    background-color: $secondaryColorBgOrange2;
}

.color-bg-orange-lgt{
    background-color: $secondaryColorBgOrange1;
}
   
.color-bg-green{
    background-color: $primaryColorBgGreen;
}

.color-bg-green-drk{
    background-color: $secondaryColorBgGreen2;
}

.color-bg-green-lgt{
    background-color: $secondaryColorBgGreen1;
}  

.color-bg-blue{
    background-color: $primaryColorBgBlue;
}

.color-bg-blue-drk{
    background-color: $secondaryColorBgBlue2;
}

.color-bg-blue-lgt{
    background-color: $secondaryColorBgBlue1;
}

.color-bg-pink{
    background-color: $primaryColorBgPink;
}

.color-bg-pink-drk{
    background-color: $secondaryColorBgPink2;
}

.color-bg-pink-lgt{
    background-color: $secondaryColorBgPink1;
}

.color-bg-yellow{
    background-color: $primaryColorBgYellow;
}

.color-bg-yellow-drk{
    background-color: $secondaryColorBgYellow2;
}

.color-bg-yellow-lgt{
    background-color: $secondaryColorBgYellow1;
}

.color-bg-black{
    background-color: $primaryColorBgBlack;
}

.color-bg-black-drk{
    background-color: $secondaryColorBgBlack2;
}

.color-bg-black-lgt{
    background-color: $secondaryColorBgBlack1;
}