// COLORES TEXTO
.color-txt-grey{
    color: $primaryColorTxtGrey;
}
.color-txt-grey-lgt{
    color: $secondaryColorTxtGrey1;
}
.color-txt-grey-drk{
    color: $secondaryColorTxtGrey2;
}
.color-nav-orange{
    color: $primaryColorNavOrange;
}
.color-nav-orange-lgt{
    color: $secondaryColorNavOrange1;
}
.color-nav-orange-drk{
    color: $secondaryColorNavOrange2;
}
.color-lnk-blue{
    color: $primaryColorLnkBlue;
}
.ccolor-lnk-blue-lgt{
    color: $secondaryColorLnkBlue1;
}
.color-lnk-blue-drk{
    color: $secondaryColorLnkBlue2;
}
.color-title-green{
	color:$primaryColorBgGreen;
}