//Guía de Estilos KidsCode
#cabecera {
  width: 100%;
  height: 6rem;
  background-color: rgba(255, 204, 0, .8);
  position: fixed;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  box-shadow: #B9B7B7 0px 5px 10px; 
}
.container{

    &-base{
      margin: auto;
      padding: 1.5rem;
      width:80%;
      background-color: rgba(255, 255, 255, .8);
      border-radius:0.6rem;
    }

    &-flex{
      display: flex;
      flex-direction: row;
      margin: auto;
      width:100%;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-color{
      display:inline-block;
      width:7.5rem;
      height:6.75rem;
      font-size:0.875rem;
      letter-spacing:2px;
      padding:15px 0px 0px 10px;
      color:#FFFFFF;
      letter-spacing:1px;
      box-shadow:#B9B7B7 0px 3px 2px;
      border-radius: 10px 10px 0px 0px;
    }

    &-color-sm{
      display:inline-block;
      width:7.5rem;
      height:3rem;
      font-size:0.875rem;
      letter-spacing:2px;
      padding:15px 0px 1px 10px;
      color:#FFFFFF;
      letter-spacing:1px;
      border-radius: 0px 0px 10px 10px;
      margin-top:-10px;
    }
    &-color-flex{
      display: flex;
      margin: auto;
      width:100%;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-color-flex{
      display: flex;
      margin: auto;
      width:100%;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
    &-color-grupo{
      display: inline-block;
      width:136px;
      margin-bottom: 10px;

    
  }

    &-headng{
      background-color: #ffffff;
      align-items:center;
      justify-content:flex-end;
      width:90%;
      height: 192px;
      margin:auto;
      border: 1px solid silver;
      border-radius:8px;
      padding:24px;
      
}

    &-headng-sm{
      display:flex;
      align-items:center;
      justify-content:flex-end;
      align-content:center;
      width:100%;
      margin:auto;
      border-bottom:1px dotted #999999;
      padding:-10px;
      
  }
}

.content{

    &-flex{
      flex:1;
      flex-basis: 370px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height:160px;
      background-color: #FFFFFF;
      margin:20px 22px 5px 5px;
      font-weight:400;
      padding:5px 5px 0px 5px;
      color:#4C4F4F;
      letter-spacing:1px;
      box-shadow:#B9B7B7 0px 3px 2px;
      border-radius: 10px;
      border-bottom:10px solid #ffffff;
      border: 10px solid #f2f2f2;
      text-align: center;
    }

    &-flex-drk{
      flex:1;
      flex-basis: 370px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height:160px;
      background-color: #0a6d76;
      margin:20px 22px 5px 5px;
      font-weight:400;
      padding:5px 5px 0px 5px;
      color:#4C4F4F;
      letter-spacing:1px;
      box-shadow:#B9B7B7 0px 3px 2px;
      border-radius: 10px;
      border-bottom:10px solid #ffffff;
      border: 10px solid #f2f2f2;
      text-align: center;
      color:#ffffff;
    }

    &-flex-row{
      flex: 1;
      background-color: #FFFFFF;
      margin:0px 0px 5px 5px;
      padding:0rem;
      color:#4C4F4F;
      letter-spacing:1px;
      box-shadow:#B9B7B7 0px 3px 2px;
      border-radius: 10px;
      border-bottom:10px solid #ffffff;
      border: 10px solid #f2f2f2;
      margin-bottom: 3rem;
    }

    &_headng_head{
      flex:1;
      justify-content:flex-start;
      align-content:flex-start;
      text-align: left;
      padding-left:1rem;
    }

  }
  
.drk-bgr{
  background-color:#404040;
}
.espacio-vertical{
  margin-top: 3rem;
}
    
//Botones Guía de Estilo
.btn-menu{
  margin: 0 .35rem;
  width: 2rem;
}
.btn-menu-bg{
  margin: 0 1rem 0 1.5rem;
  width: 3rem;
}

//Tipografía Guía de Estilo
.logo-txt{
  font-family: 'montserrat alternates', sans-serif;
  font-size: 2.25rem;
  margin-right:24px;
  font-weight: 700;
}
.title-txt{
  font-family: 'source sans pro', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.sub-title-txt{
  font-family: 'source sans pro', sans-serif;
  font-size: 1.25rem;
  margin:1.5rem 0 0 0rem;  
}

.font1{
  margin: 3rem 0 2.5rem 0;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -.1rem;
}
.font2{
  margin: 3rem 0 2.5rem 0;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -.1rem;
}
.label{
  font-family: 'source sans pro', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height:1.45rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color:#999999;
}

.lgt-txt{
  color:#ffffff;
}