//Fichero settings del proyecto KidsCode

//constantes
$email: 'proyectokidscode@gmail.com';

//variables

//COLOR VARIABLES
//paleta white igual para backgrounds y textos
$primaryColorWhite: #ffffff;

//colores principales background
$primaryColorBgOrange: #ff6633; 
$primaryColorBgGreen: #33bb44;
$primaryColorBgBlue: #11bbcc; 
$primaryColorBgPink: #ed497e;
$primaryColorBgYellow: #ffcc00; 
$primaryColorBgBlack: #404040; 

//paleta secundaria background
$secondaryColorBgOrange1: #ff9f80;
$secondaryColorBgOrange2: #e63900;
$secondaryColorBgGreen1: #73d980;
$secondaryColorBgGreen2: #1b6425;
$secondaryColorBgBlue1: #89ecf5;
$secondaryColorBgBlue2: #0a6d76;
$secondaryColorBgPink1: #ff67a7;
$secondaryColorBgPink2: #d93560;
$secondaryColorBgYellow1: #ffdb4d;
$secondaryColorBgYellow2: #806600;
$secondaryColorBgBlack1: #999999;
$secondaryColorBgBlack2: #222222;

//colores principales texto
$primaryColorTxtGrey: #404040; 
$primaryColorNavOrange: #ff6633;
$primaryColorLnkBlue: #11bbcc; 

//paleta secundaria texto
$secondaryColorTxtGrey1: #999999;
$secondaryColorTxtGrey2: #222222;
$secondaryColorNavOrange1: #ff9f80;
$secondaryColorNavOrange2: #e63900;
$secondaryColorLnkBlue1: #11bbcc;
$secondaryColorLnkBlue2: #0a6d76;

